/* configurações padrões */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}

button {
  background-color: #ff831e;
  font-weight: bold;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.text {
  width: 300px;
  color: white;
}

/* fim configurações padrões */

header {
  background-color: #ff831e;
  color: white;
  padding: 10px;
  max-width: 100%;
}
header h1 {
  font-size: 14px;
}

/* section banner */

#banner {
  display: flex;
  margin: 50px;
  justify-content: center;
}

#banner .text {
  font-size: 15px;
}

.img1 {
  width: 300px;
  height: 300px;
}

/* fim section banner */

/* section cards */

#card h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.card {
  background-color: #222222; /* Fundo cinza */
  color: #ff831e;
  text-align: center;
  border: none;
}

.copy-1 {
  font-size: 20px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto;
}

/* fim section cards */

/* section equipe */

#equipe {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  max-width: 100vw;
}

#img_equipe {
  width: 30rem;
}

#equipe img {
  max-width: 100%;
  object-fit: cover;
}

/* fim section equipess */

/* section plus */

#plus {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100vw;
}

#plus img {
  max-width: 100%;
  object-fit: cover;
}

/* fim section plus */

/* section vantagens */

.bonus,
.investimento {
  display: flex;
  max-width: 100vw;
}

.bonus img,
.investimento img {
  max-width: 100%;
  object-fit: cover;
}

#vantagens {
  justify-content: center;
}

/* fim section vantagens */

/* section carrosel */

#carrosel {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100vw;
}

#carrosel img {
  max-width: 100%;
  object-fit: cover;
}

/* fim section carrosel */

/* section garantias */

#garantias {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100vw;
}

#garantias img {
  max-width: 100%;
  object-fit: cover;
}

/* fim section garantias */

#questions {
  color: #ff831e;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
}

@media (min-width: 700px) {
}

@media (min-width: 360px) {
}
