*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: #FF831E;
    font-weight: bold;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
text-align: center;
background-color: black;
}
header {
background-color: #FF831E;
color: white;
padding: 10px;
}
header h1{
    font-size: 14px;
}
.text{
    width: 300px;
    color: white;
}
.copy-1{
    font-size: 20px;
}
.img1{
    width: 300px;
    height: 300px;
}
#banner{
    display: flex;
    margin: 50px;
    justify-content: center;
}
#banner .text{
    font-size: 15px;
}
#card h1{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.card {
    background-color: #222222; /* Fundo cinza */
    color: #FF831E;
    text-align: center;
    border: none;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

#plus{
    margin-top: 50px;
    margin-bottom: 50px;
}

#equipe{
    display: flex;
    justify-content: center;
}
.bonus, .investimento{
    display: flex;

}
#questions{
    color: #FF831E;
}
#vantagens{
    justify-content: center;
}
#garantias{
    width: 100%;
    bottom: 0;
    left: 0;
}
footer {
bottom: 0;
left: 0;
width: 100%;
background-color: #f1f1f1;
padding: 10px;
}